@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Poppins:wght@300;400;700;800&display=swap');

/* RESETS */
:root {
    --sidebar-color: #8dc243;
    --content-background: #efefef;
    --darkfont-color: #333A44;
    --cream-color: #e4e7be;
    --olive-color: #526437;
    --danger-color: #BE4D44;
    --danger-transparent-color: rgba(190, 77, 68, 0.1);
    --warning-color: #DEB74B;

    --font-base: "Poppins", sans-serif;
    --font-size: 0.85rem;

    --border-small: 6px;
    --border-large: 12px;

    --shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    --layered-shadow:
        1px 2px 2px hsla(0, 0%, 0%, 0.2),
        2px 4px 4px hsla(0, 0%, 0%, 0.2),
        4px 8px 8px hsla(0, 0%, 0%, 0.2);


}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-base);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.logo-image {
    height: auto;
    width: 100%;
}

/* SITE SCAFFOLDING & Sidebar */

.container {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    min-height: 800px;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    color: var(--darkfont-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    display: flex;
}

.nav-category {
    padding: 0.7rem;
    padding-top: 1.5rem;
    font-size: 0.6rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    font-size: var(--font-size);
}

.footer {
    margin-top: auto;
}

.footer a {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.7rem;
    font-size: var(--font-size);
}

.nav-link[aria-current="page"] {
    background-color: rgba(82, 100, 55, 0.2);
    border-left: 4px solid var(--olive-color);
    border-radius: var(--border-small);
    font-weight: 700;
    padding-left: calc(0.75rem - 4px);
}

.nav-item a:hover,
.footer a:hover {
    color: #535c69;
    transform: scale(0.99);
}

.user-image {
    margin: 0;
    padding: 0;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.user-info .log-out {
    font-size: 0.7rem;
    font-weight: 700;
}

/* Button Notification */

.btn .material-symbols-outlined {
    font-size: 1.2rem;
}

.btn:hover {
    border: 1px solid var(--sidebar-color);
    transform: scale(0.99);
    box-shadow: var(--shadow);
}

.btn:active {
    transform: scale(0.96);
}

.user-welcome .material-symbols-outlined {
    font-size: 1.7rem;

}

.user-welcome .material-symbols-outlined:hover {
    transform: scale(0.97);
}

.user-welcome span {
    color: var(--danger-color);
    font-weight: 700;
}

.btn {
    font-family: var(--font-base);
    position: relative;
    padding: 0.4rem;
    border: 1px solid var(--content-background);
    background: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.875rem;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 500;
    box-shadow: var(--shadow);
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    font-family: var(--font-base);
    background-color: var(--danger-color);
    color: white;
    font-size: 0.6rem;
    font-weight: 700;
    min-width: 20px;
    height: 19px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* HEADER */

.header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    padding: 3.6rem 10rem;
    gap: 3rem;
    flex: 1;
}

.search input:focus {
    outline: none;
    border-color: var(--sidebar-color);
    box-shadow: var(--shadow);
}

input {
    font-family: var(--font-base);
}

.search-bar {
    padding: 0.4rem;
    border-radius: var(--border-small);
    width: 700px;
}

.user-container {
    display: flex;
    margin: 0.35rem;
    gap: 0.5rem;
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-out {
    display: flex;
    justify-content: center;
}

.log-out:hover {
    color: var(--sidebar-color);
}

.header-actions a {
    font-weight: 700;
}

.header-welcome {
    flex-wrap: nowrap;
}

.user-image {
    transition: box-shadow 0.3s ease;
}

.user-image:hover {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.user-image:active {
    transform: scale(0.97);
}

em {
    color: var(--sidebar-color);
}

/* MAIN SECTION */

.main-container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    grid-auto-rows: min-content;
    gap: 2rem;
}

.main-cards {
    display: flex;
    flex-direction: column;
    border: 1px solid #f2f3f5;
    align-items: center;
    border-radius: var(--border-large);
    box-shadow: var(--layered-shadow);
}

.main-cards:nth-child(4) {
    grid-row: span 2;
}

.card-header {
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.card-value {
    font-size: 4rem;
    font-weight: 700;
    color: var(--sidebar-color);
}

.card-value span {
    color: var(--danger-color);
}

.split {
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid var(--danger-transparent-color);
    border-bottom-left-radius: var(--border-large);
    border-bottom-right-radius: var(--border-large);
    background-color: var(--danger-transparent-color)
}

.table-feedback {
    padding-top: 1.7rem;
}

.value-subtext {
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--darkfont-color);
}

.row-feedback {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
    gap: 0.5rem;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.row-feedback .material-symbols-outlined {
    font-size: 1.7rem;
    color: #8dc243;
}

.feedback-time {
    font-size: 0.8rem;
    color: var(--darkfont-color);
    padding-left: 2rem;
    border-bottom: 1px solid #d7dce4;
    width: 95%;
    margin: 0 auto;
}

.feedback-time a:hover {
    color: var(--sidebar-color);
}

.feedback-time:last-child {
    border-bottom: none;
}

.main-cards .screen-share-card {
    box-shadow: none;
    padding: 0.5rem;
    margin: 0.5rem;
    align-items: start;
}

.screen-share-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.screen-share-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.chat-header {
    font-weight: 700;
    font-size: var(--font-size);
    margin: 0 auto;
    border-bottom: 1px solid #dce1e7;
}

.chat-row {
    display: flex;
    align-items: center;
}

.time-stamp {
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--sidebar-color);
}

.user-name {
    padding: 0.3rem;
    font-weight: 700;
}

.ticket-message {
    font-size: var(--font-size);
}

.search {
    padding: 0.5rem;
}

#timer {
    margin: 1rem;
}

.main-cards:nth-child(5) {
    grid-column: span 2;
}

.chart-container {
    width: 100%;
    padding: 2rem;
}

.bar-chart {
    display: flex;
    height: 200px;
    gap: 1rem;
    padding-bottom: 1rem;
}

.bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 0.5rem;
    height: 100%;
}

.bar {
    width: 100%;
    background: linear-gradient(to bottom, var(--sidebar-color), var(--olive-color));
    border-radius: var(--border-small) var(--border-small) 0 0;
    position: relative;
    transition: transform 0.3s ease;
    min-height: 20px;
}

.bar:hover {
    transform: scaleY(1.10);
    cursor: pointer;
}

.bar::before {
    content: attr(data-value);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--darkfont-color);
}

.bar-label {
    font-size: 0.85rem;
    color: var(--darkfont-color);
    font-weight: 500;
}

.card-agents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.offline {
    color: var(--danger-color);
    font-weight: 800;
    font-size: 1.3rem;
    border-bottom: 1px solid #cfd8e4;
}

.online {
    color: var(--sidebar-color);
    font-weight: 800;
    font-size: 1.3rem;
    border-bottom: 1px solid #cfd8e4;
}